.root {
    -fx-background-color: #ffffe6;
}

@font-face{
    font-family: 'Legrand' ;
    src: url('src/main/resources/ulb/infof307/g12/view/Legrand.ttf')
}

#titre{
    -fx-font-family: "Legrand" ;
    -fx-font-size: 45px;
}

.button{
    -fx-background-color: #f3f3db ;
}

#carte{
    -fx-background-color: #f3f3db ;
    -fx-border-color: #dadac5 ;
    -fx-border-width: 3px;
}

#boutonJouer{
    -fx-font-family: "Legrand" ;
    -fx-font-size: 20px
}